<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.coenraets.employeedirectory" version="1.1.0" versionCode="10">

    <!-- versionCode is optional and Android only -->

    <name>Employee Directory</name>

    <description>
        A simple employee directory application
    </description>

    <author email="ccoenraets@gmail.com" href="http://coenraets.org">
        Christophe Coenraets
    </author>
     <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>

</widget>
