tophtml, body {
    height:100%;
}

p {
    margin: 10px;
}

#contenu {
    padding-bottom:60px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.modal_menu {
    padding:0;
    list-style: none;
}

.modal_menu_button {
    display:block;
    color: #c6c8c8;
    text-decoration:none;
    padding: 1.25rem;
}

.modal_menu_button:active {
    background-color:#747474;
}

.modal_icon_vente {
    margin-right: 10px;
    vertical-align: -10%;
}

.modal_icon_achat {
    margin-right: 10px;
    vertical-align: -10%;
}

.modal_icon_user {
    margin-right: 10px;
    vertical-align: -15%;
}

.modal_icon_back {
    border: 0px;
    vertical-align: middle;
    margin-right: 10px;
}

.modal_profil {
    margin-left: 10px;
    clear: both;
    min-width: 340px;
}

.modal_photo {
    margin-left: 10px;
    margin-top: 10px;
}

.modal_photo img{
    width: 110px;
}

.modal_label {
    display: block;
    width: 125px;
    float: left;
}

.modal_zone_info {
    background-color: #c6c8c8;
    border-radius: 3px;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

.modal_zone_info_titre {
    font-weight: bold;
    color: #747474;
}